body {
	margin: 0px;
}

.auth-container {
	display: flex;
	height: 980px;
}

.auth-form {
	width: 30%;
	height: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.auth-form .heading {
	text-align: center;
	font-family: monospace;
	font-weight: 600;
}

.auth-form .airport-logo {
	width: 80px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

.auth-form .auth-error {
	font-size: 12px;
	color: #f13753;
	text-align: center;
}

.auth-form .switch-login,
.switch-signup {
	text-align: center;
	cursor: pointer;
	color: #f13753;
}

.auth-form input {
	display: block;
	width: 100%;
	border: 1px solid #bdb5b6;
	border-radius: 5px;
}

.auth-form button {
	background-color: #0715d0;
	color: #ffff;
	width: 50%;
	padding: 20px 30px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Prompt', sans-serif;
	letter-spacing: 2px;
}

.auth-form button:hover {
	color: #ffff;
	background-color: #3845f3;
}

.airport-image {
	width: 70%;
}

.airport-image img {
	width: 100%;
	height: 100%;
}

/* Nav bar */

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10px;
	box-shadow: 0 10px 20px #d2d2da;
	position: sticky;
}

.nav-bar .logout-btn {
	width: 15%;
}

.nav-bar .logout-btn button {
	width: 60%;
	margin-left: 40px;
	background-color: #0715d0;
	color: #ffff;
	padding: 10px 20px;
	font-family: 'Prompt', sans-serif;
}

.nav-bar button:hover {
	color: #ffff;
	background-color: #3845f3;
}

.nav-heading {
	width: 60%;
	margin-left: 40px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
}

.nav-bar .user-name {
	width: 25%;
	margin: 0px 30px 0px 0px;
	text-align: right;
}

.nav-heading .airport-logo {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

/* dashboard */

.dashboard-container {
	height: 1800px;
}

.main-dashboard {
	display: flex;
	height: 100%;
}

.sidebar-container {
	width: 20%;
	height: 100%;
	padding: 50px 0;
	box-shadow: 10px 0px 20px #d2d2da;
}

.sidebar-items {
	list-style-type: none;
	padding-left: 0px;
	position: sticky;
	top: 50px;
}

.sidebar-items a {
	padding: 20px 20px 20px 40px;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 2px;
	display: block;
	box-shadow: 0px 5px 20px #bdb5b6;
	text-decoration: none;
	color: black;
}

.sidebar-items a:hover {
	background-color: #d2d2da;
}

.active-sidebar-item {
	background-color: #0715d0 !important;
	color: #ffff !important;
}

.dashboard-items {
	width: 80%;
	height: 100%;
	padding: 100px;
	display: flex;
	flex-direction: column;
}

.dashboard-items .row-1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10%;
}

.round-card {
	text-decoration: none;
	width: 300px;
	text-align: center;
	padding: 40px 70px;
	border-radius: 100px;
	box-shadow: 10px 10px 15px #bdb5b6;
	border: 1px solid #d2d2da;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	background-color: #f0f3f8;
}

.round-card:hover {
	background-color: #0715d0;
	color: #ffff;
}

.dashboard-items .row-2 {
	display: flex;
	justify-content: space-around;
	height: 30%;
	padding: 50px 0px;
}

.large-card {
	text-align: center;
	width: 500px;
	padding: 80px 0px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px #bdb5b6;
	background-color: #f0f3f8;
}

.large-card .card-heading {
	font-size: 35px;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 2px;
}

.large-card .card-links {
	display: flex;
	justify-content: space-between;
	padding: 20px 55px 0px 55px;
	font-size: 20px;
}

.large-card .card-links a {
	text-decoration: none;
	color: #3845f3;
}

.large-card .card-links button {
	font-size: 20px;
	padding: 0px;
	color: #f13753;
}

.dashboard-items .charts-1,
.charts-2 {
	margin-top: 100px;
	display: flex;
	width: 1200px;
	height: 30%;
	justify-content: space-between;
}

.dashboard-items .charts-1 {
	margin-left: 30px;
	margin-bottom: 100px;
}

.dashboard-items .charts-1 .pie,
.doughnut {
	font-size: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 40%;
}

.dashboard-items .charts-2 .bar,
.line {
	width: 50%;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 15px;
}

.dashboard-items .charts-2 .bar h7,
.charts-1 .pie h7 {
	color: #0715d0;
	margin-bottom: 25px;
}

.dashboard-items .charts-2 .line h7,
.charts-1 .doughnut h7 {
	color: #f13753;
	margin-bottom: 25px;
}

/* airport */

.modal-open {
	opacity: 0.1;
}

.page-container {
	height: 920px;
}

.inner-page-container {
	display: flex;
	height: 100%;
}

.page-list {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.page-top {
	height: 10%;
	margin: 20px;
	text-align: right;
	display: flex;
}

.page-top .page-btn {
	width: 50%;
	text-align: left;
	padding: 10px 55px;
	display: flex;
}

.page-top .page-btn button {
	background-color: #0715d0;
	color: #ffff;
	padding: 15px 20px;
	margin-right: 20px;
}

.page-top .page-btn button:hover {
	color: #ffff;
	background-color: #3845f3;
}

.page-top .search-functionality {
	width: 50%;
	display: flex;
}

.page-top label {
	margin: auto 55px auto auto;
}

.page-top .search {
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.airports-table,
.aircrafts-table,
.transactions-table {
	height: 80%;
	width: 90%;
	margin: 0px auto 20px auto;
	border: 1px solid black;
	overflow-y: auto;
}

.airports-table table,
.aircrafts-table table,
.transactions-table table {
	height: 100%;
	width: 100%;
	margin: 0px;
	display: flex;
	flex-direction: column;
}

.airports-table thead,
.aircrafts-table thead,
.transactions-table thead {
	height: 20%;
	position: sticky;
	top: 0px;
}

.airports-table tbody,
.aircrafts-table tbody,
.transactions-table tbody {
	height: 80%;
}

.airports-table table th img,
.aircrafts-table table th img,
.transactions-table table th img {
	cursor: pointer;
}

.airports-table th,
.aircrafts-table th,
.transactions-table th {
	padding: 20px;
	background-color: #313137;
	color: #ffff;
	letter-spacing: 4px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
	height: 135px;
}

.airports-table td,
.aircrafts-table td {
	padding: 20px;
	height: 150px;
}

.transactions-table td {
	padding: 20px;
	height: 200px;
}

.airports-table .text-middle,
.aircrafts-table .text-middle,
.transactions-table .text-middle {
	text-align: center;
}

.airports-table .edit-icon,
.aircrafts-table .edit-icon,
.transactions-table .reverse-transaction-icon {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.airports-table tr:nth-child(odd),
.aircrafts-table tr:nth-child(odd),
.transactions-table tr:nth-child(odd) {
	background-color: #efeff3;
}

.airports-table .loading,
.aircrafts-table .loading,
.transactions-table .loading {
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 2px;
}

.airports-table th,
.airports-table td {
	width: 330px;
}

.aircrafts-table th,
.aircrafts-table td {
	width: 440px;
}

.transactions-table th,
.transactions-table td {
	width: 290px;
}

.page-container .left-arrow,
.right-arrow {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.page-down {
	height: 10%;
	display: flex;
	justify-content: right;
}

.page-down .page-select {
	height: 100%;
	margin-right: 70px;
}

.page-down .page-select .page-limit {
	margin-right: 20px;
}

.page-down .page-select button {
	padding: 0px;
}

/* airport summary report */

.airport-summary-table {
	margin: 0px 50px 40px 50px;
}

.airport-summary-table table {
	height: 100%;
	width: 100%;
	margin: 0px;
}

.airport-summary-table th {
	padding: 20px;
	background-color: #313137;
	color: #ffff;
	letter-spacing: 4px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
}

.airport-summary-table td {
	padding: 20px;
}

/* fuel consumption report */

.fuel-consumption-container {
	height: 920px;
}

.inner-fuel-consumption-container {
	display: flex;
	height: 100%;
}

.fuel-consumption-container .fuel-consumption-list {
	width: 80%;
}

.fuel-consumption-container .download-btn {
	margin: 50px;
}

.fuel-consumption-container .download-btn button {
	background-color: #0715d0;
	color: #ffff;
}

.fuel-consumption-container .download-btn button:hover {
	color: #ffff;
	background-color: #3845f3;
}

.fuel-consumption-container .fuel-consumption-report {
	margin: 50px;
	height: 75%;
	overflow-y: scroll;
	box-shadow: 5px 5px 10px #313137;
}

.fuel-consumption-container .fuel-consumption-report .each-report-item {
	display: flex;
	flex-direction: column;
	border-bottom: 2px dotted black;
	margin: 20px;
}

.fuel-consumption-report .each-report-item p,
table {
	margin: 20px 0px;
}

.fuel-consumption-report .each-report-item table {
	border: 1px solid black;
}

.fuel-consumption-report .each-report-item th {
	padding: 20px;
	background-color: #313137;
	color: #ffff;
	letter-spacing: 4px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
}

.fuel-consumption-report .each-report-item td {
	padding: 20px;
}

.fuel-consumption-report .each-report-item tr:hover {
	background-color: #dcdce2;
}

.fuel-consumption-report button {
	color: #0715d0;
	text-decoration: underline;
	font-size: 20px;
	padding: 0px;
	margin: 30px;
}

/* Toast notifications */

.Toastify__toast-container {
	width: 400px !important;
	font-size: 15px;
}
