.modal-open {
	opacity: 0.1;
}

.page-container {
	height: 920px;
}

.inner-page-container {
	display: flex;
	height: 100%;
}

.page-list {
	@include flexColumn();
	width: 80%;
	justify-content: space-around;
}

.page-top {
	height: 10%;
	margin: 20px;
	text-align: right;
	display: flex;

	.page-btn {
		width: 50%;
		text-align: left;
		padding: 10px 55px;
		display: flex;

		button {
			background-color: $primary-button-color;
			color: $button-text-color;
			padding: 15px 20px;
			margin-right: 20px;
			&:hover {
				color: #ffff;
				background-color: #3845f3;
			}
		}
	}

	.search-functionality {
		width: 50%;
		display: flex;

		label {
			margin: auto 55px auto auto;

			.search {
				width: 45px;
				height: 45px;
				cursor: pointer;
			}
		}
	}
}

.airports-table,
.aircrafts-table,
.transactions-table {
	height: 80%;
	width: 90%;
	margin: 0px auto 20px auto;
	border: $black-border;
	overflow-y: auto;

	table {
		@include flexColumn();
		height: 100%;
		width: 100%;
		margin: 0px;

		th {
			img {
				cursor: pointer;
			}
		}
	}

	thead {
		height: 20%;
		position: sticky;
		top: 0px;
	}

	tbody {
		height: 80%;
		font-size: 20px;
	}

	th {
		padding: 20px;
		background-color: #313137;
		color: #ffff;
		letter-spacing: 4px;
		font-family: 'Open Sans Condensed', sans-serif;
		font-weight: 600;
		height: 135px;
	}

	.text-middle {
		text-align: center;
	}

	.edit-icon {
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.reverse-transaction-icon {
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	tr {
		&:nth-child(odd) {
			background-color: #efeff3;
		}
	}

	.loading {
		font-size: 30px;
		font-weight: 600;
		letter-spacing: 2px;
	}
}

.airports-table,
.aircrafts-table {
	td {
		padding: 20px;
		height: 150px;
	}
}

.airports-table {
	td {
		width: 330px;
	}
	th {
		width: 330px;
	}
}

.aircrafts-table {
	td {
		width: 440px;
	}
	th {
		width: 440px;
	}
}

.transactions-table {
	td {
		padding: 20px;
		height: 200px;
		width: 290px;
	}
	th {
		width: 290px;
	}
}

.page-down {
	height: 10%;
	display: flex;
	justify-content: right;

	.left-arrow,
	.right-arrow {
		@include arrowDimentions();
	}

	.page-select {
		height: 100%;
		margin-right: 70px;

		button {
			padding: 0px;
			background-color: #ffff;
		}
	}

	.page-limit {
		margin-right: 20px;
	}
}
