$button-font-family: 'Prompt', sans-serif;
$button-text-color: #ffff;
$primary-button-color: #0715d0;
$primary-button-hover-color: #3845f3;
$black-border: 1px solid black;

@mixin arrowDimentions {
	width: 40px;
	height: 40px;
}

@mixin flexColumn {
	display: flex;
	flex-direction: column;
}

@mixin marginCenter {
	margin: 0px auto;
}

body {
	margin: 0px;
	padding: 0px;

	button {
		border: none;
		border-radius: 4px;
	}
}

@import './auth';
@import './nav';
@import './dashboard';
@import './page';
@import './airport_summary_report';
@import './fuel_consumption_report';
@import './toast_notification';
