.TransactionModal {
	@include flexColumn(column, space-around);
	position: absolute;
	top: 80px;
	right: 570px;
	bottom: 80px;
	left: 570px;
	background-color: #ffffff;
	text-align: center;
	border: $modal_border;

	h4 {
		font-size: 35px;
		font-family: $modal_heading_font;
		font-weight: 600;
		letter-spacing: 2px;
		height: 15%;
		padding: 30px 10px 10px 10px;
		margin: 0px;
		background-color: #313137;
		color: #ffff;
	}

	.transaction-add-form {
		@include flexColumn(column, space-around);
		height: 65%;
		padding: 20px;

		.warning-message {
			font-size: 20px;
			color: #b32209;
			display: block;
		}

		select {
			@include marginCenter();
			width: 100%;
			border: none;
			border-bottom: 1px solid #3845f3;
			background-color: #ffff;
			font-size: 22px;
			&:focus {
				outline: none;
			}
		}
	}

	.transaction-modal-btn {
		@include flexColumn(row, space-around);
		height: 20%;
		padding: 20px 20px 0px 20px;

		button {
			height: 53%;
			min-width: 150px;
			padding: 0px 30px;
			color: $button_text_color;
		}
	}
}
