.ReverseTransactionModal {
	position: absolute;
	top: 300px;
	right: 650px;
	bottom: 300px;
	left: 650px;
	background-color: #ffffff;
	text-align: center;
	border: $modal_border;
	@include flexColumn(column, space-between);

	h5 {
		font-size: 35px;
		font-family: $modal_heading_font;
		font-weight: 600;
		letter-spacing: 2px;
		padding: 30px 10px 10px 10px;
		margin: 0px;
		height: 40%;
	}

	.transaction-modal-btn {
		@include flexColumn(row, space-around);
		height: 60%;
		padding: 20px;

		button {
			height: 40%;
			min-width: 150px;
			padding: 0px 30px;
			color: $button_text_color;
			margin-top: auto;
			margin-bottom: auto;
		}
	}
}
