.EditModal {
	position: absolute;
	top: 130px;
	right: 600px;
	bottom: 130px;
	left: 600px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	border: 2px solid #313137;
}

.EditModal h4 {
	font-size: 35px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	height: 15%;
	padding: 30px 10px 10px 10px;
	margin: 0px;
	background-color: #313137;
	color: #ffff;
}

.EditModal .airport-edit-form {
	height: 58%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.EditModal .airport-edit-form .warnings {
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.EditModal .airport-edit-form .input-fields {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.EditModal .airport-edit-form .warning-message {
	font-size: 20px;
	color: #b32209;
	display: block;
}

.EditModal .edit-modal-btn {
	height: 27%;
	display: flex;
	justify-content: space-around;
	padding: 65px 20px 0px 20px;
}

.EditModal .edit-modal-btn button {
	height: 60%;
	min-width: 150px;
	padding: 0px 30px;
	background-color: #0715d0;
	color: #ffff;
}

.EditModal .edit-modal-btn button:hover {
	color: #ffff;
	background-color: #3845f3;
}

.Overlay {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
