.ReverseTransactionModal {
	position: absolute;
	top: 300px;
	right: 650px;
	bottom: 300px;
	left: 650px;
	background-color: #ffffff;
	text-align: center;
	border: 2px solid #313137;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.ReverseTransactionModal h5 {
	font-size: 35px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	padding: 30px 10px 10px 10px;
	margin: 0px;
	height: 40%;
}

.ReverseTransactionModal .transaction-modal-btn {
	display: flex;
	height: 60%;
	justify-content: space-around;
	padding: 20px;
}

.ReverseTransactionModal .transaction-modal-btn button {
	height: 40%;
	min-width: 150px;
	padding: 0px 30px;
	background-color: #0715d0;
	color: #ffff;
	margin-top: auto;
	margin-bottom: auto;
}

.ReverseTransactionModal .transaction-modal-btn button:hover {
	color: #ffff;
	background-color: #3845f3;
}

.Overlay {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}
